# https://numato.com/docs/mimas-ecp5-mini-fpga-development-board/

LOCATE COMP "rst_ni" SITE "A4";
IOBUF PORT "rst_ni" IO_TYPE=LVCMOS33;

LOCATE COMP "led0" SITE "E12";
IOBUF PORT "led0" IO_TYPE=LVCMOS33;

LOCATE COMP "led1" SITE "D13";
IOBUF PORT "led1" IO_TYPE=LVCMOS33;

LOCATE COMP "led2" SITE "D12";
IOBUF PORT "led2" IO_TYPE=LVCMOS33;

LOCATE COMP "led3" SITE "C13";
IOBUF PORT "led3" IO_TYPE=LVCMOS33;

LOCATE COMP "btn0" SITE "A8";
IOBUF PORT "btn0" IO_TYPE=LVCMOS33;

LOCATE COMP "btn1" SITE "A7";
IOBUF PORT "btn1" IO_TYPE=LVCMOS33;

LOCATE COMP "btn2" SITE "A15";
IOBUF PORT "btn2" IO_TYPE=LVCMOS33;

LOCATE COMP "tck_i" SITE "E6";
IOBUF PORT "tck_i" IO_TYPE=LVCMOS33;

LOCATE COMP "tdi_i" SITE "D6";
IOBUF PORT "tdi_i" IO_TYPE=LVCMOS33;

LOCATE COMP "tdo_o" SITE "A5";
IOBUF PORT "tdo_o" IO_TYPE=LVCMOS33;

LOCATE COMP "tms_i" SITE "A6";
IOBUF PORT "tms_i" IO_TYPE=LVCMOS33;
